.no-item {
  max-width: 80%;
  max-height: 80%;
  opacity: 0.2;
  margin-left: 4vw;
  margin-top: 20vh;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 390px;
}

.img-fluid {
  max-width: 480px;
  max-height: 250px;
  width: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description-columns {
  display: flex;
  flex-wrap: wrap;
}

.description-columns > div {
  width: 50%; /* Adjust the width based on your layout preference */
  box-sizing: border-box; /* To include padding in the width calculation */
  padding: 5px; /* Add padding for spacing between the items */
}

.bid-field {
  display: flex;
  justify-content: space-between;
}

.form-range {
  margin-right: 2rem;
}

.selected-item-card {
  margin: 0 auto;
  padding: 1rem 2rem;
  max-width: 690px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
}

.img-container {
  margin-bottom: 1rem;
}

.item-details {
  padding: 1rem;
}

.price {
  font-size: 1.2rem;
  margin-top: 1rem;
}

.bid-button-container {
  text-align: center;
  margin-top: 1.5rem;
}
