<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <mat-card style="width: 600px">
      <div style="display: flex">
        <!-- Left side: Image and content -->
        <div style="flex: 1">
          <mat-card-header>{{ this.tradeItem.name }}</mat-card-header>
          <img
            mat-card-image
            [src]="this.tradeItem.image"
            style="max-width: 110%; height: 200px; object-fit: contain"
          />
          <mat-card-content
            >Price: ${{ this.tradeItem.price }}</mat-card-content
          >
          <mat-card-actions>
            <button
              class="btn btn-primary"
              (click)="viewTradeItem(this.tradeItem)"
            >
              View
            </button>
          </mat-card-actions>
        </div>

        <div
          class="col-lg-6 mt-4"
          style="margin-left: 2rem"
          *ngIf="this.bidPrices.length"
        >
          <p>Accepted Bid Prices</p>
          <ngx-charts-line-chart
            [view]="[310, 350]"
            [results]="single"
            [gradient]="gradient"
            [animations]="true"
            [showGridLines]="true"
            [showXAxisLabel]="showXAxisLabel"
            [showYAxisLabel]="showYAxisLabel"
            [xAxisLabel]="xAxisLabel"
            [yAxisLabel]="yAxisLabel"
            [xAxis]="true"
            [yAxis]="true"
          >
          </ngx-charts-line-chart>
        </div>
      </div>
    </mat-card>
  </li>
</ul>
